*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Lato;
    font-size: 15px;
}

.container {
    position: relative;
    width: 1024px;
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
}
