.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &__wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__slides {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__slide {
        position: relative;
        width: 100%;
        height: 100vh;
        cursor: pointer;
        transition: all 1s;
    }
}
